# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# Uploads
backend/uploads/
backend/uploads/gradcam/

# Database
backend/database/predictions.db

# TensorFlow Logs
logs/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db